@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --highlite-white: #FFFFFF;
    --darkmode-black: #3C4042;
    --void-black: #000000;

    --gold: #FFD700;

    --gray1: #F0EAEA;
    --gray2: #E0D3D3;
    --gray3: #BAAFAF;
    --gray4: #726666;

    --950: #430C0C;
    --900: #7B2121;
    --800: #942020;
    --700: #B22323;
    --600: #D42E2E;
    --500: #E63D3D;
    --400: #F27777;
    --300: #F8A9A9;
    --200: #FCCCCC;
    --100: #FDE3E3;
    --50: #FDF3F3;

    --default-white-gradient: linear-gradient(to left top, #f27777, #f06a69, #ed5c5b, #ea4d4c, #e63d3d);
    --hover-white-gradient: linear-gradient(to left top, #e63d3d, #d93736, #cc3030, #bf2a29, #b22323);
    --active-white-gradient: linear-gradient(to left top, #d42e2e, #c42a2b, #b42727, #a42324, #942020);
    --disabled-white-gradient: linear-gradient(to left top, #fde3e3, #fdd5d4, #fcc6c6, #fab8b7, #f8a9a9);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--50);
    overflow-x: hidden;
    color: var(--950);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10vw;
    align-self: center;
}

.btn {
    color: var(--50);
    border: none;
    cursor: pointer;
}

.gradient-btn {
    background-image: var(--default-white-gradient);
}

.gradient-btn:hover {
    background-image: var(--hover-white-gradient);
}

.gradient-btn:active {
    background-image: var(--active-white-gradient);
}

.gradient-btn:disabled {
    background-image: var(--disabled-white-gradient);
    color: var(--50);
}

.flat-btn{
    background-color: var(--500);
}

.flat-btn:hover {
    background-color: var(--600);
}

.flat-btn:active {
    background-color: var(--700);
}

.flat-btn:disabled {
    background-color: var(--200);
    color: var(--700);
}

.outline-btn {
    background-color: var(--highlite-white);
    border: solid .1vw var(--500);
    color: var(--500);
}

.outline-btn:hover {
    background-color: var(--highlite-white);
    border: solid .1vw var(--600);
    color: var(--600);
}

.outline-btn:active {
    background-color: var(--highlite-white);
    border: solid .1vw var(--700);
    color: var(--700);
}

.outline-btn:disabled {
    background-color: var(--highlite-white);
    border: solid .1vw var(--200);
    color: var(--200);
}

.card {
    background-color: var(--highlite-white);
    border-radius: 15px;
    padding: clamp(10px, 3vw, 40px);
    font-size: clamp(7px, 1.5vw, 20px);
    box-shadow: 5px 5px 10px 0px rgba(123, 86, 86, 0.05);
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.02);
}

section {
    padding-block: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: clamp(9px, 3vw, 40px);
}

h2 {
    color: var(--700);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: clamp(10px, 5vw, 100px);
    margin-bottom: 0;
}

h3 {
    color: var(--700);
}

h5{
    color: var(--700);
    font-size: clamp(7px, 1.5vw, 20px);
    margin-bottom: 1vw;
}

h6 {
    margin: 0;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--gray4);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-block: .5vw;
}

input, textarea {
    color: var(--950);
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray1);
    font-size: clamp(5px, 2vmin, 15px);
}

textarea {
    font-size: clamp(5px, 2vmin, 15px);
    font-family: 'Poppins', sans-serif;
    padding-top: clamp(5px, 1vw, 15px);
    padding-left: clamp(10px, 2vw, 30px);
}

input::placeholder, textarea::placeholder {
    color: var(--gray3);
    font-size: clamp(5px, 2vmin, 15px);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: var(--gray3);
}

/* Chrome, Safari und Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--gray1) inset !important;
    -webkit-text-fill-color: var(--950) !important;
}

/* Chrome, Safari und Edge */
#newsletter-input:-webkit-autofill,
#newsletter-input:-webkit-autofill:hover, 
#newsletter-input:-webkit-autofill:focus, 
#newsletter-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--highlite-white) inset !important;
    -webkit-text-fill-color: var(--950) !important;
}

/* Firefox */
input:-moz-ui-invalid {
    box-shadow: none !important;
}

input:-moz-ui-valid {
    background-color: var(--highlite-white) !important;
    color: var(--950) !important;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard: Chrome und andere */
}  

.hidden {
    display: none;
}

footer{
    font-size: clamp(7px, 1.5vw, 20px);
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}

.app-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1vw;
    padding-top: 5vmin;
    padding-bottom: 0;
    width: 100%;
    font-size: clamp(7px, 1.5vw, 20px);
}

.app-nav > * {
    display: flex;
    width: 20vw;
    align-items: center;
    justify-content: center;
}

#app-logo {
    width: 22vw;
    max-width: 350px;
}

.logo {
    width: 25vw;
    max-width: 450px;
}

.App-header {
    color: var(--700);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: clamp(0px, 3vw, 1000px);
    width: 100%;
}

.App-title {
    color: var(--950);
    font-weight: bold;
    z-index: 1;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    position: relative;
    top: 55px;
    left: 300px;
}

#start-btn {
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    position: relative;
}

.car-bg-txt {
    color: var(--100);
    position: relative;
}

.car-logo {
    position: relative;
    top: 80px;
}

.App-title-special-word {
    color: var(--600);
}

#search-form {
    background-color: var(--highlite-white);
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px rgba(123, 86, 86, 0.05);
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    padding-inline: 50px;
    padding-block: 30px;
    width: clamp(10px, 80vw, 900px);
}

.input {
    font-size: clamp(7px, 1.5vw, 20px);
    border: transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: var(--highlite-white);
}

label {
    color: var(--gray3);
}

select {
color: var(--950);
-webkit-appearance: none;
appearance: none;
font-size: 1.15rem;
border: 1px solid #caced1;
border-radius: 0.25rem;
cursor: pointer;
}

#search-btn {
    width: 50px;
    height: 50px;
    background-image: url('images/vuesax_linear_search-normal.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    justify-self: end;
    margin-left: 60px;
}

.header-title {
    font-size: clamp(10px, 2.2vmin, 25px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    padding-inline: 1.5rem;
    font-weight: lighter;
}

.divider {
    width: clamp(5px, 15vw, 200px);
    height: 0.1rem;
    background-color: var(--gray2);
}

h4 {
    font-weight: 400;
    font-size: clamp(8px, 1.5vmin, 18px);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#inventory {
    width: calc(100% + 20vw);
    column-gap: 5vw;
    overflow-x: scroll;
    justify-content: flex-start;
    overflow-y: hidden;
}

#inventory::-webkit-scrollbar {
    display: none;
}

#inventory {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#inventory > :first-child {
    margin-left: 9vw;
}

#inventory > :last-child {
    margin-right: 9vw;
}

.inventory-thumbnail {
    width: 30%;
    max-width: 400px;
    border-radius: 15px;
    z-index: 1;
    margin-right: -9.5vw;
    margin-top: 5vw;
}

#inventory-header {
    margin-top: 0;
    margin-bottom: clamp(0, 4vw, 10px);
    font-weight: 400;
    font-size: clamp(7px, 3vw, 30px);
}

.inventory-aside {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 300px;
    margin-left: 5vw;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1vmin;
}

.detail-titel {
    flex-basis: 0;
}

.detail-value, .detail-value * {
    flex-basis: 20;
    color: var(--700);
}

#detail-cost .detail-title {
    color: var(--700);
    font-size: clamp(7px, 3vw, 30px);
}

#detail-cost .detail-value {
    color: var(--950);
}

.inventory-btn {
    cursor: pointer;
    border-radius: 50px;
    font-size: clamp(5px, 1.7vw, 23px);
    width: 81%;
    height: clamp(10px,3.5vw,60px);
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(10px, 2vw, 30px);
}

.inventory-btn .detail-value {
    color: var(--50);
}

#services {
    column-gap: 2vw;
    width: 100%;
}

.services-icon {
    width: clamp(10px, 3vw, 40px);
}

#services-card {
    width: 20rem;
}

#special {
    width: calc(100% + 20vw);
    padding-top: clamp(10px, 10vw, 190px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.special-img {
    flex-basis: 0;
    z-index: 1;
    width: 60vw;
    max-width: 1200px;
    margin-right: -40px;
    border-radius: 0 15px 15px 0;
}

#special-card {
    flex-basis: 100;
    border-radius: 15px 0 0 15px;
    max-height: 550px;
    height: 20vw;
    width: 40vw;
    padding-block: clamp(20px, 5vw, 60px);
    padding-inline: clamp(60px, 6vw, 80px);
}

.special-header {
    color: var(-700);
    font-size: clamp(10px, 2.1vw, 30px);

}

#special-btn {
    cursor: pointer;
    border-radius: 50px;
    font-size: clamp(5px, 1.8vw, 20px);
    width: clamp(10px, 60%, 300px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    height: clamp(10px,4vw,60px);
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(10px, 2vw, 30px);
}

#special-btn .detail-titel {
    flex-basis: 0;
}

#special-btn .detail-value {
    color: var(--50);
    flex-basis: 20;
}

#feedback {
    column-gap: 2vw;
}

#feedback-h4 {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#feedback-h3 {
    margin: 0;
}

#feedback-card {
    min-width: none;
    max-width: 500px;
}

#feedback-figure {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    margin: 0;
    padding-bottom: clamp(5px, 3vw, 40px);
}

#feedback-figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#feedback-blockquote {
    margin: 0;
}

.feedback-icon{
    width: clamp(10px, 5vw, 60px);
    height: clamp(10px, 5vw, 60px);
    border-radius: 50%;
}

.app-footer{
    width: 100%;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10vh;
    column-gap: 10vw;
    width: 100%;
}

.footer-div > ul:first-of-type {
    flex-basis: 0;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2vw;
    flex-basis: 100;
}

#newsletter-form {
    display: flex;
    flex-direction: row;
    background-color: var(--highlite-white);
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px rgba(123, 86, 86, 0.05);
    padding-right: clamp(2px, 1vw, 10px);
    padding-left: clamp(2px, 2vw, 40px);
    padding-block: clamp(2px, 1vw, 10px);
    column-gap: clamp(2px, 3vw, 40px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

#newsletter-h5{
    padding-left: 1vw;
}

#newsletter-btn {
    width: clamp(2px, 5vw, 60px);
    height: clamp(2px, 5vw, 60px);
    background-image: url('images/open_arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

#newsletter-input {
    background-color: var(--highlite-white);
    border: none;
    outline: none;
    font-size: clamp(7px, 1.5vw, 20px);
}

#socialmedia {
    display: flex;
    flex-direction: row;
    column-gap: clamp(1px, 2vw, 20px);
    padding-left: 0px;
}

#socialmedia-image-li{
    padding-top: 1vw;
    padding-left: 1vw;
}

.socialmedia-img {
    width: clamp(3px, 3vw, 40px);
    transition: transform 0.5s ease;
}

.socialmedia-img:hover {
    transform: scale(1.5);
}

.legal-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-block: 3vw;
    column-gap: 5vw;
    color: var(--gray4);
    width: 100%;
    justify-content: space-between;
}

.guide {
    padding: 10vw;
    padding-top: 5vw;
}

#contact {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2vw;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact-article {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 350px;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

#contact-form, #rent-form {
    width: 40vw;
    max-width: 500px;
    min-height: -moz-fit-content;
    min-height: -webkit-fill-available;
    height: fit-content;
    margin-top: .5vw;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

#contact-ul {
    padding: 0;
    margin: 0;
}

#contact-label {
    padding: 0;
}

.contact-input {
    width: 100%;
    padding-block: clamp(5px, 1vw, 10px);
    border: none;
    border-radius: 15px;
    padding-inline: clamp(10px, 2vw, 30px);
    box-sizing: border-box;
}

.date-input {
    cursor: pointer;
}

#calendar::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding-left: 40%;
    padding-right: 10%;
}

.contact-input::-webkit-calendar-picker-indicator {
    cursor: pointer;
    padding-left: 30%;
}

#nachricht {
    width: inherit;
    max-width: 95%;
    padding-top: clamp(5px, 1vw, 20px);
    font-size: clamp(5px, 2vmin, 15px);
    height: 10vw;
    border: none;
    border-radius: 15px;
}

#contact-btn, #rent-btn, #rent-btn-whatsapp {
    cursor: pointer;
    border-radius: 50px;
    font-size: clamp(5px, 1.7vw, 23px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    width: 50%;
    max-width: 200px;
    height: clamp(10px,3.5vw,50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(10px, 2vw, 30px);
}

#contact-btn .detail-value , #rent-btn .detail-value {
    color: var(--50);
}

#rent-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
}

#rent-main {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

.rent-dates {
    column-count: 2;
}

#rent-dates-birthdate {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    align-items: center;
}

#birthdate {
}

.rent-agree {
    display: flex;
    flex-direction: column;
}

.rent-agree p {
    display: flex;
    flex-direction: row;
}

.rent_advertising{
    width: 100%;
    border-radius: 15px;
}

#rent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
}

.faq-h3 {
    margin-top: 0;
}

#about-us-main {
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
}

.about-us-section {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    width: 100%;
    align-items: center;
}

.about-us-img {
    width: 30vw;
    border-radius: 15px;
}

#about-us-img-logo {
    border-radius: 0;
}

#price-plan {
    padding-top: 5vw;
    padding-inline: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4vw;
}

#price-plan-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 4vw;
    row-gap: 4vw;
}

.plan {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    row-gap: 3vw;
}

.basic-plan-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    color: var(--gray4);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

.price-plan-h2 {
    color: var(--600);
    padding-top: 0vw;
    margin-block: 0;
    font-weight: 400;
    font-size: 1.4vw;
}

.price-plan-h3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--950);
    font-size: 2.4vw;
    font-weight: 400;
    margin-block: 2vw;
}

.price-plan-h3-currency {
    color: var(--gray3);
    font-size: 1vw;
    padding-top: .4vw;
    padding-right: .7vw;
}

.price-plan-h3-amount {
    font-weight: 600;
    transform: scaleY(1.1);
}

.price-plan-h3-job {
    color: var(--gray3);
    font-size: 1vw;
    align-self: flex-end;
    padding-bottom: .6vw;
    padding-left: .2vw;
}

.price-plan-free-km {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: var(--950);
    font-size: 1.4vw;
    font-weight: 600;
    margin-top: 2.5vw;
    margin-bottom: .8vw;
}

.price-plan-p-km {
    color: var(--gray3);
    font-size: .7vw;
    align-self: flex-end;
    padding-bottom: .3vw;
    padding-left: .2vw;
    font-weight: 500;
}

.price-plan-p {
    text-align: center;
    font-size: .9vw;
    color: var(--gray3);
}

.price-plan-btn {
    cursor: pointer;
    border-radius: 10px;
    font-size: clamp(5px, 1vw, 23px);
    height: clamp(10px,3.5vw,60px);
    display: flex;
    align-items: center;
    padding-inline: clamp(10px, 2vw, 30px);
    box-shadow: 0px .2vw .5vw .2vw rgba(123, 86, 86, .2);
    transition: box-shadow 0.5s ease;
}

.price-plan-btn:hover {
    box-shadow: none;

}

.price-plan-details-p {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.price-plan-details-currency {
    color: var(--gray3);
    font-size: .6vw;
    padding-right: .4vw;
}

.price-plan-details-amount {
    color: var(--950);
    font-weight: 600;
    transform: scaleY(1.1);
}

.price-plan-details-job {
    color: var(--gray3);
    font-size: .6vw;
    align-self: flex-end;
    padding-left: .2vw;
}

.elite-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid .2vw var(--200);
    border-radius: 15px;
    padding: 1vw;
    margin-bottom: 5vw;
    row-gap: .5vw;
}

.elite-plan-h1{
    font-size: clamp(7px, 1.3vw, 40px);
    border-radius: 15px 15px 0 0;
    width: 100%;
    text-align: center;
    margin-block: 0vw;
    padding-bottom: 1vw;
    padding-top: .4vw;
    color: var(--400);
}

#elite-section {
    column-gap: 0;
}

#elite-section > .card:first-child {
    border-radius:  15px 0 0 15px;
}

#elite-section >  .card:nth-child(3) {
    border-radius:  0 15px 15px 0;
}

.elite-plan-color-special {
    border-radius: 0;
    background-color: var(--200);
    color: var(--gray4);
    font-weight: bold;
}

.elite-plan-color-special-amount {
    border-radius: 0;
    color: var(--950);
}

.elite-plan-color-special button {
    border-radius: 15px;
    background-color: var(--600);
    color: var(--50);
}

.elite-plan-color {
    background-color: var(--100);
    color: var(--950);
}

#whatsapp-instructions {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    font-size: clamp(7px, 3vw, 20px);
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--highlite-white);
    border: 1px solid greenyellow;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--gray3);
    z-index: 1000;
    border-radius: 15px;
}

#whatsapp-allert-button {
    border-radius: 15px;
    text-align: center;
    font-size: clamp(7px, 2vw, 20px);
    padding-block: clamp(5px, 2vw, 10px);
    padding-inline: clamp(10px, 5vw, 40px);
}

#whatsapp-allert-img {
    width: clamp(3px, 8vw, 60px);
}

@media (min-width: 1200px) {
    .App-title {
        font-size: clamp(50px, 4vmax, 90px);
        top: clamp(80px, 5vmax, 100px);
    }

    .App-title-special-word {
        font-size: clamp(90px, 6vw, 120px);
    }

    #start-btn {
        padding-inline: clamp(20px, 1vw, 60px);
        padding-block: clamp(20px, 2vh, 30px);
        font-size: 2vmin;
        margin-left:30px;
        bottom: clamp(0px, 2vmax, 30px);
    }

    .car-bg-txt {
        font-size: clamp(300px, 20vw, 400px);
        bottom: 10px;
        left: clamp(100px, 10vw, 290px);
        padding-top: 0;
    }

    .car-logo {
        width: clamp(530px, 40vw, 800px);
        right: clamp(350px , 10vw, 500px);
        top: clamp(100px, 8vw, 140px);
    }
    
    .inventory-thumbnail {
        margin-top: 1vw;
    }

    .inventory-btn {
        margin-top: 2vw;
        margin-left: 4vw;
        max-width: 65%;
    }

    #special-card {
        width: 60vw;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .App-title {
        font-size: clamp(30px, 5vw, 50px);
    }

    .App-title-special-word {
        font-size: clamp(40px, 6vw, 70px);
    }

    #start-btn {
        padding: 15px 32px;
        font-size: 1.5vmin;
        margin-left:20px;
        bottom: 19px;
    }

    .car-bg-txt {
        font-size: clamp(200px, 25vw, 250px);
        bottom: 50px;
        left: 100px;
        margin-top: 60px;
    }

    .car-logo {
        width: 45vw;
        right: clamp(280px , 4vw, 300px);
    }
}

@media (max-width: 899px) {
    
    .app-nav-hidden {
        display: none;
    }

    .app-nav-img {
        width: 100%;
    }

    #app-logo {
        width: 40vw;
        max-width: 250px;
    }

    .App-header {
        height: clamp(50px, 25vw, 300px);
    }

    .App-title {
        font-size: clamp(2px, 5vw, 40px);
        left: clamp(12px, 25vmin, 230px);
        top: clamp(5px, 10vw, 100px);
    }

    .App-title-special-word {
        font-size: clamp(2px, 6vw, 50px);
    }

    #start-btn {
        padding-inline: clamp(10px, 2vw, 20px);
        padding-block: clamp(5px, 1vw, 10px);
        font-size: clamp(11px, 2vw, 17px);
        margin-left: 10px;
        bottom: clamp(0px, 1vw, 7px);
    }

    .car-bg-txt {
        font-size: clamp(10px, 20vw, 180px);
        bottom: 3vmin;
        left: clamp(4px, 5vmin, 100px);
        margin-top: clamp(5px, 20vw, 200px);
    }

    .car-logo {
        width: 40vw;
        right: clamp(18vw, 20vmin, 100px);
        top: clamp(5px, 10vw, 100px);
    }

    #search-form {
        display: none;
    }

    #sortiment-h2 {
        padding-top: clamp(35px, 15vw, 100px);
    }

    .header-title {
        font-size: clamp(8px, 4vw, 30px);
    }

    h4 {
        font-size: clamp(3px, 2.5vmin, 18px);
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    #inventory-header {
        font-size: 5vw;
    }

    .inventory-aside {
        font-size: 3.5vw;
        width: 40vw;
    }

    #detail-cost .detail-title {
        color: var(--700);
        font-size: clamp(8px, 5vw, 50px);
    }
    
    .inventory-btn {
        margin-top: 2vw;
        height: clamp(10px,5vw,60px);
        font-size: clamp(3px, 3.3vw, 20px);
        padding-inline: clamp(5px, 2vw, 30px);
        width: 50%;
    }

    .inventory-thumbnail {
        width: 40%;
    }

    #services {
        display: flex;
        flex-direction: column;
        row-gap: 2vw;
    }

    #services-card {
        width: inherit;
    }

    #services-card p{
        font-size: clamp(6px, 3vw, 60px);
    }

    .services-icon{
        width: clamp(1px, 5vw, 40px);
    }

    #special-card {
        padding-block: clamp(15px, 5vw, 60px);
        padding-left: clamp(50px, 15vw, 80px);
        padding-right: 2vw;
        height: fit-content;
    }

    #special-card p {
        font-size: clamp(6px, 3vw, 60px);
    }

    .special-header {
        font-size: clamp(7px, 3vw, 60px);
    
    }

    #special-btn {
        margin-top: 2vw;
        height: clamp(10px,5vw,60px);
        font-size: clamp(3px, 3.3vw, 20px);
        padding-inline: clamp(5px, 2vw, 30px);
        width: 50%;
    }

    #special-arrow {
        padding-left: 1vw;
        height: 2vw;
    }

    #feedback {
        display: flex;
        flex-direction: column;
        row-gap: 2vw;
        width: 100%;
    }

    #feedback-card {
        width: inherit;
    }

    h3 {
        font-size: clamp(7px, 3vw, 60px);
    }

    h5 {
        font-size: clamp(7px, 2vw, 60px);
        margin-bottom: 1vw;
    }

    h6 {
        font-size: 2vw;
    }

    .footer-div  a {
        font-size: clamp(7px, 2vw, 60px);
    }

    .legal-nav a, .legal-nav  span, .app-nav a {
        font-size: clamp(7px, 2vw, 60px);
    }

    #feedback-blockquote {
        font-size: clamp(6px, 3vw, 60px);
    }

    label {
        background-size: clamp(5px, 3vmin, 15px);
        font-size: clamp(5px, 2vmin, 12px);
        padding-inline: 1vw;
    }

    .input {
        font-size: clamp(7px, 2vmin, 15px);
        padding-inline: 2vw;
    }

    #search-btn {
        background-size: 3vmin;
        width: clamp(8px, 6vmin, 60px);
        height: clamp(8px, 6vmin, 60px);
        margin-left: clamp(20px, 2vmin, 40px);;
    }

    #newsletter-input {
        width: 15vw;
        min-width: 70px;
    }

    #newsletter-btn {
        background-size: clamp(4px, 1.4vw, 20px);
        min-width: 15px;
        min-height: 15px;
    }

    .footer-div {
        padding-top: 15vw;
        column-gap: 0;
        flex-wrap: wrap;
    }
    
    input, label, input::placeholder, textarea::placeholder {
        font-size: 3vw;
    }

    .contact-input, #nachricht {
        width: 100%;
    }

    #nachricht {
        font-size: clamp(2px, 3vw, 30px);
    }

    #contact-btn, #rent-btn, #rent-btn-whatsapp {
        font-size: 3vw;
        height: 7vw;
    }

    .card:hover {
        transform: none;
    }

    .logo{
        width: 50vw;
        max-width: 450px;
    }

    h1 {
        font-size: clamp(9px, 5vw, 40px);
    }

    #rent-div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #rent-main {
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
    }

    #contact-label-street, #contact-label-tel,
    #contact-label-email, #contact-label-car {
        display: none;
    }

    #contact {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .contact-input::-webkit-calendar-picker-indicator,
    #calendar::-webkit-calendar-picker-indicator {
        cursor: pointer;
        padding-left: 20%;
        padding-right: 0;
    }

    #newsletter-input::placeholder {
        text-align: left;
        font-size: clamp(7px, 2.1vw, 16px); /* Adjust the font size as needed */
    }
    
    /* For compatibility with Internet Explorer */
    #newsletter-input:-ms-input-placeholder {
        font-size: 2.1vw;
    }
    
    /* For compatibility with Mozilla Firefox older versions */
    #newsletter-input::-moz-placeholder {
        font-size: 2.1vw;
    }

    #price-plan-main {
        display: flex;
        flex-direction: column;
    }

    .elite-plan {
        display: flex;
        flex-direction: column;
        border: solid .2vw var(--200);
        padding-inline: 9vw;
        row-gap: .5vw;
    }

    .elite-plan-h1 {
        font-size: clamp(7px, 3.3vw, 40px);
        padding-bottom: 3vw;
        padding-top: 2.4vw;
    }

    #elite-section {
        display: flex;
        flex-direction: column;
    }

    #elite-section > * {
        width: 100%;
    }
    
    #elite-section > .card:first-child {
        border-radius:  15px;
    }

    #elite-section > .card:nth-child(2) {
        border-radius:  15px;
    }
    
    #elite-section >  .card:nth-child(3) {
        border-radius:  15px;
    }

    .basic-plan-article {
        min-width: 38vw;
        color: var(--gray4);
    }

    .basic-plan-article > * {
        justify-content: center;
    }

    .price-plan-h2 {
        font-size: 4vw;
        width: 64vw;
    }
    
    .price-plan-h3 {
        font-size: 8.4vw;
        margin-block: 4vw;
    }

    .price-plan-h3-currency {
        font-size: 4vw;
        padding-top: .8vw;
        padding-right: .7vw;
    }

    .price-plan-h3-job {
        font-size: 4vw;
        padding-bottom: 1.8vw;
        padding-left: .2vw;
    }

    .price-plan-btn {
        font-size: clamp(5px, 4vw, 23px);
        height: clamp(10px, 7.5vw,60px);
        display: flex;
        align-items: center;
        padding-inline: clamp(10px, 4vw, 30px);
    }

    .price-plan-free-km {
        font-size: 5vw;
        margin-top: 3.5vw;
        margin-bottom: 2vw;
    }

    .price-plan-p-km {
        font-size: 3vw;
    }

    .price-plan-p {
        font-size: 2.9vw;
        padding-inline: 2vw;
    }

    .price-plan-details-currency {
        font-size: 1.8vw;
    }

    .price-plan-details-job {
        font-size: 1.8vw;
    }

    .about-us-section {
        column-gap: 0;
    }

    .about-us-figure {
        margin-inline: 4vw;
    }

    .about-us-img {
        width: 30vw;
    }

    .about-us-h3 {
        font-size: 3vw;
    }

    .about-us-p {
        font-size: 2.5vw;
    }

    .faq-h3 {
        font-size: 3.2vw;
    }

    .faq-footer {
        font-size: 3vw;
    }

    #contact-ul {
        width: 100%;
    }

    #contact-article {
        display: flex;
        flex-direction: column;
        width: inherit;
        max-width: none;
        font-size: 4vw;
    }

    .socialmedia-img {
        width: clamp(3px, 6vw, 40px);
    }

    #socialmedia-image-li{
        padding-top: 2vw;
        padding-bottom: 5vw;
        padding-left: 1vw;
    }

    #rent-form {
        row-gap: 2vw;
    }

    #contact-form, #rent-form {
        width: inherit;
        max-width: none;
        box-sizing: border-box; 
    }

    #elite-plan-btn {
        border-radius: 10px;
    }
}

@media only screen and (orientation: landscape) and (max-width: 899px) {
    .App-title {
        left: clamp(140px, 25vmin, 230px);
    }

    h4 {
        font-size: clamp(15px, 3.5vmin, 18px);
    }
}