@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--highlite-white: #FFFFFF;

--gray3: #BAAFAF;

--950: #430C0C;
--900: #7B2121;
--800: #942020;
--700: #B22323;
--600: #D42E2E;
--500: #E63D3D;
--400: #F27777;
--300: #F8A9A9;
--200: #FCCCCC;
--100: #FDE3E3;
--50: #FDF3F3;

--default-white-gradient: linear-gradient(to left top, #f27777, #f06a69, #ed5c5b, #ea4d4c, #e63d3d);

}

body {
margin: 0;
font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

background-color: var(--50);
color: var(--950);
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}

.App {
display: flex;
flex-direction: column;
align-items: center;
}

.App-logo {
width: 20vw;
max-width: 250px;
padding-top: 5vmin;
padding-bottom: 0;
}

.App-header {
color: var(--700);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.App-title {
color: var(--950);
font-weight: bold;
z-index: 1;
min-width: -moz-fit-content;
min-width: -webkit-fill-available;
min-width: fit-content;
position: relative;
top: 55px;
left: 300px;

}

.start-button {
background-image: var(--default-white-gradient);
border: none;
color: var(--50);
text-align: center;
text-decoration: none;
display: inline-block;
cursor: pointer;
border-radius: 15px;
position: relative;
}

.car-bg-txt {
color: var(--100);
position: relative;
}

.car-logo {
position: relative;
top: 80px;
}

.App-title-special-word {
color: var(--600);
}

form {
background-color: var(--highlite-white);
padding-inline: 50px;
padding-block: 20px;
border-radius: 50px;
display: grid;
grid-template-columns: repeat(3, 1fr) auto;
width: clamp(10px, 80vw, 900px);
}

.input {
font-size: 18px;
border: transparent;
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
cursor: pointer;
}

label {
    color: var(--gray3);
}

select {
color: var(--950);
-webkit-appearance: none;
appearance: none;
font-size: 1.15rem;
border: 1px solid #caced1;
border-radius: 0.25rem;
cursor: pointer;
}

#search-btn {
width: 50px;
height: 50px;
background-image: url('images/vuesax_linear_search-normal.svg');
background-repeat: no-repeat;
background-position: center;
background-color: var(--600);
color: var(--highlite-white);
border-radius: 50px;
grid-column: 4 / 5;
grid-row: 1 / 3;
justify-self: end;
margin-left: 60px;
}

h2 {
    display: flex;
    flex-direction: row;
    align-content: right;
    background-image: "images/header_line.svg";
    background-repeat: no-repeat;
    background-position: right;
    align-items: center;
    padding-block: 4rem;
    font-size: clamp(10px, 2vmin, 20px);
    min-width: fit-content;
}

.header-line-left, .header-line-right {
    color: var(--gray3);
    font-size: 1rem;
    font-weight: 500;
    padding-inline: 1rem;
    align-self: flex-start;
}

@media (min-width: 1200px) {
.App-title {
    font-size: clamp(50px, 4vmax, 90px);
    top: clamp(80px, 5vmax, 100px);
}

.App-title-special-word {
    font-size: clamp(90px, 6vw, 120px);
}

.start-button {
    padding-inline: clamp(20px, 1vw, 60px);
    padding-block: clamp(20px, 2vh, 30px);
    font-size: 2vmin;
    margin-left:30px;
    bottom: clamp(0px, 2vmax, 30px);
}

.car-bg-txt {
    font-size: clamp(300px, 20vw, 400px);
    bottom: 10px;
    left: clamp(100px, 10vw, 290px);
    padding-top: 0;
}

.car-logo {
    width: clamp(530px, 40vw, 800px);
    right: clamp(350px , 10vw, 500px);
    top: clamp(100px, 8vw, 140px);
}
}

@media (min-width: 900px) and (max-width: 1200px) {
.App-title {
    font-size: clamp(30px, 5vw, 50px);
}

.App-title-special-word {
    font-size: clamp(40px, 6vw, 70px);
}

.start-button {
    padding: 15px 32px;
    font-size: 1.5vmin;
    margin-left:20px;
    bottom: 19px;
}

.car-bg-txt {
    font-size: clamp(200px, 25vw, 250px);
    bottom: 50px;
    left: 100px;
    padding-top: 60px;
}

.car-logo {
    width: 45vw;
    right: clamp(280px , 4vw, 300px);
}
}

@media (max-width: 900px) {
.App-header {
    height: clamp(50px, 25vw, 300px);
}

.App-title {
    font-size: clamp(20px, 5vw, 40px);
    left: clamp(100px, 25vmin, 230px);
}

.App-title-special-word {
    font-size: clamp(20px, 6vw, 50px);
}

.start-button {
    padding-inline: clamp(10px, 2vw, 20px);
    padding-block: clamp(5px, 1vw, 10px);
    font-size: clamp(11px, 2vw, 17px);
    margin-left: 10px;
    bottom: clamp(0px, 1vw, 7px);
}

.car-bg-txt {
    font-size: clamp(100px, 20vw, 180px);
    bottom: 3vmin;
    left: clamp(0px, 5vmin, 100px);
    padding-top: 100px;
}

.car-logo {
    width: 40vw;
    right: 150px;
}

form {
    padding-inline: clamp(10px, 2vmin, 20px);
    padding-block: clamp(10px, 2vmin, 10px);
    margin-top: clamp(80px, 2vmin, 40px);;
}

label {
    background-size: clamp(5px, 3vmin, 15px);
    font-size: clamp(5px, 2vmin, 12px);
    padding-inline: 2vw;
}

.input {
    font-size: clamp(7px, 2vmin, 15px);
    padding-inline: 2vw;
}

#search-btn {
    background-size: 3vmin;
    width: clamp(8px, 6vmin, 60px);
    height: clamp(8px, 6vmin, 60px);
    margin-left: clamp(20px, 2vmin, 40px);;
}
}
