@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --highlite-white: #FFFFFF;

    --gray1: #F0EAEA;
    --gray2: #E0D3D3;
    --gray3: #BAAFAF;
    --gray4: #726666;

    --950: #430C0C;
    --900: #7B2121;
    --800: #942020;
    --700: #B22323;
    --600: #D42E2E;
    --500: #E63D3D;
    --400: #F27777;
    --300: #F8A9A9;
    --200: #FCCCCC;
    --100: #FDE3E3;
    --50: #FDF3F3;

    --default-white-gradient: linear-gradient(to left top, #f27777, #f06a69, #ed5c5b, #ea4d4c, #e63d3d);
    --hover-white-gradient: linear-gradient(to left top, #e63d3d, #d93736, #cc3030, #bf2a29, #b22323);
    --active-white-gradient: linear-gradient(to left top, #d42e2e, #c42a2b, #b42727, #a42324, #942020);
    --disabled-white-gradient: linear-gradient(to left top, #fde3e3, #fdd5d4, #fcc6c6, #fab8b7, #f8a9a9);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--50);
    overflow-x: hidden;
    color: var(--950);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    color: var(--50);
    border: none;
    cursor: pointer;
}

.gradient-btn {
    background-image: var(--default-white-gradient);
}

.gradient-btn:hover {
    background-image: var(--hover-white-gradient);
}

.gradient-btn:active {
    background-image: var(--active-white-gradient);
}

.gradient-btn:disabled {
    background-image: var(--disabled-white-gradient);
    color: var(--50);
}

.flat-btn{
    background-color: var(--500);
}

.flat-btn:hover {
    background-color: var(--600);
}

.flat-btn:active {
    background-color: var(--700);
}

.flat-btn:disabled {
    background-color: var(--200);
    color: var(--700);
}

.card {
    background-color: var(--highlite-white);
    border-radius: 15px;
    padding: clamp(10px, 3vw, 40px);
    font-size: clamp(7px, 1.5vw, 20px);
    box-shadow: 5px 5px 10px 0px rgba(123, 86, 86, 0.05);
    transition: transform 0.5s ease;
}

.card:hover {
    transform: scale(1.02);
}

section {
    padding-block: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: clamp(9px, 3vw, 40px);
}

h2 {
    color: var(--700);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: clamp(10px, 5vw, 100px);
    margin-bottom: 0;
}

h3 {
    color: var(--700);
}

h5{
    color: var(--700);
    font-size: clamp(7px, 1.5vw, 20px);
    margin-bottom: 1vw;
}

h6 {
    margin: 0;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--gray4);
}

ul {
    list-style-type: none;
    padding-left: 1vw;
}

li {
    padding-block: .5vw;
}

input, textarea {
    color: var(--950);
    font-family: 'Poppins', sans-serif;
    background-color: var(--gray1);
    font-size: clamp(5px, 2vmin, 15px);
}

textarea {
    font-size: clamp(5px, 2vmin, 15px);
    font-family: 'Poppins', sans-serif;
    padding-top: clamp(5px, 1vw, 15px);
    padding-left: clamp(10px, 2vw, 30px);
}

input::placeholder, textarea::placeholder {
    color: var(--gray3);
    font-size: clamp(5px, 2vmin, 15px);
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: var(--gray3);
}

/* Chrome, Safari und Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--gray1) inset !important;
    -webkit-text-fill-color: var(--950) !important;
}

/* Firefox */
input:-moz-ui-invalid {
    box-shadow: none !important;
}

input:-moz-ui-valid {
    background-color: var(--gray1) !important;
    color: var(--950) !important;
}


footer{
    font-size: clamp(7px, 1.5vw, 20px);
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
}

.App-logo {
    width: 20vw;
    max-width: 250px;
    padding-top: 5vmin;
    padding-bottom: 0;
}

.App-header {
    color: var(--700);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: clamp(0px, 3vw, 1000px);
    width: 100%;
}

.App-title {
    color: var(--950);
    font-weight: bold;
    z-index: 1;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    position: relative;
    top: 55px;
    left: 300px;
}

#start-btn {
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    position: relative;
}

.car-bg-txt {
    color: var(--100);
    position: relative;
}

.car-logo {
    position: relative;
    top: 80px;
}

.App-title-special-word {
    color: var(--600);
}

#search-form {
    background-color: var(--highlite-white);
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px rgba(123, 86, 86, 0.05);
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    padding-inline: 50px;
    padding-block: 30px;
    width: clamp(10px, 80vw, 900px);
}

.input {
font-size: 18px;
border: transparent;
outline: none;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
cursor: pointer;
}

label {
    color: var(--gray3);
}

select {
color: var(--950);
-webkit-appearance: none;
appearance: none;
font-size: 1.15rem;
border: 1px solid #caced1;
border-radius: 0.25rem;
cursor: pointer;
}

#search-btn {
    width: 50px;
    height: 50px;
    background-image: url('images/vuesax_linear_search-normal.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    justify-self: end;
    margin-left: 60px;
}

.header-title {
    font-size: clamp(10px, 2.2vmin, 25px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    padding-inline: 1.5rem;
    font-weight: lighter;
}

.divider {
    width: clamp(5px, 15vw, 200px);
    height: 0.1rem;
    background-color: var(--gray2);
}

h4 {
    font-weight: 400;
    font-size: clamp(8px, 1.5vmin, 18px);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#inventory {
    padding-inline: 90px;
    column-gap: 5vw;
    overflow-x: scroll;
    justify-content: flex-start;
    width: fit-content;
    overflow-y: hidden;
}

#inventory::-webkit-scrollbar {
    display: none;
}

.inventory {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.inventory-thumbnail {
    width: 30%;
    max-width: 400px;
    border-radius: 15px;
    z-index: 1;
    margin-right: -9.5vw;
    margin-top: 5vw;
}

#inventory-header {
    margin-top: 0;
    margin-bottom: clamp(0, 4vw, 10px);
    font-weight: 400;
    font-size: clamp(7px, 3vw, 30px);
}

.inventory-aside {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 300px;
    margin-left: 5vw;
}

.detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1vmin;
}

.detail-titel {
    flex-basis: 0;
}

.detail-value, .detail-value * {
    flex-basis: 20;
    color: var(--700);
}

#detail-cost .detail-title {
    color: var(--700);
    font-size: clamp(7px, 3vw, 30px);
}

#detail-cost .detail-value {
    color: var(--950);
}

#inventory-btn {
    cursor: pointer;
    border-radius: 50px;
    font-size: clamp(5px, 1.7vw, 23px);
    width: 81%;
    height: clamp(10px,3.5vw,60px);
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(10px, 2vw, 30px);
}

#inventory-btn .detail-value {
    color: var(--50);
}

#services {
    column-gap: 2vw;
}

.services-icon {
    width: clamp(10px, 3vw, 40px);
}

#services-card {
    width: 20rem;
}

#special {
    width: 100%;
    padding-top: clamp(10px, 10vw, 190px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.special-img {
    flex-basis: 0;
    z-index: 1;
    width: 60vw;
    max-width: 1200px;
    margin-right: -40px;
    border-radius: 0 15px 15px 0;
}

#special-card {
    flex-basis: 100;
    border-radius: 15px 0 0 15px;
    max-height: 550px;
    height: 20vw;
    width: 40vw;
    padding-block: clamp(20px, 5vw, 60px);
    padding-inline: clamp(60px, 6vw, 80px);
}

.special-header {
    color: var(-700);
    font-size: clamp(10px, 2.1vw, 30px);

}

#special-btn {
    cursor: pointer;
    border-radius: 50px;
    font-size: clamp(5px, 1.8vw, 20px);
    width: clamp(10px, 60%, 300px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    height: clamp(10px,4vw,60px);
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(10px, 2vw, 30px);
}

#special-btn .detail-titel {
    flex-basis: 0;
}

#special-btn .detail-value {
    color: var(--50);
    flex-basis: 20;
}

#feedback {
    column-gap: 2vw;
}

#feedback-h4 {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#feedback-h3 {
    margin: 0;
}

#feedback-card {
    min-width: none;
    max-width: 500px;
}

#feedback-figure {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    margin: 0;
    padding-bottom: clamp(5px, 3vw, 40px);
}

#feedback-figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#feedback-blockquote {
    margin: 0;
}

.feedback-icon{
    width: clamp(10px, 5vw, 60px);
    height: clamp(10px, 5vw, 60px);
    border-radius: 50%;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vw;
    column-gap: 20%;
}

.footer-div > ul:first-of-type {
    padding-right:  10vw;
    flex-basis: 0;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2vw;
    flex-basis: 100;
}

#newsletter-form {
    display: flex;
    flex-direction: row;
    background-color: var(--highlite-white);
    border-radius: 50px;
    box-shadow: 5px 5px 10px 0px rgba(123, 86, 86, 0.05);
    padding-right: clamp(2px, 1vw, 10px);
    padding-left: clamp(2px, 2vw, 40px);
    padding-block: clamp(2px, 1vw, 10px);
    column-gap: clamp(2px, 3vw, 40px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

#newsletter-h5{
    padding-left: 1vw;
}

#newsletter-btn {
    width: clamp(2px, 5vw, 60px);
    height: clamp(2px, 5vw, 60px);
    background-image: url('images/open_arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
}

#newsletter-input {
    background-color: var(--highlite-white);
    border: none;
    outline: none;
    font-size: clamp(7px, 1.5vw, 20px);
}

#socialmedia {
    display: flex;
    flex-direction: row;
    column-gap: clamp(1px, 2vw, 20px);
    padding-left: 0px;
}

#socialmedia-image-li{
    padding-top: 1vw;
    padding-left: 1vw;
}

.socialmedia-img {
    width: clamp(3px, 3vw, 40px);
    transition: transform 0.5s ease;
}

.socialmedia-img:hover {
    transform: scale(1.5);
}

.legal-nav {
    display: flex;
    flex-direction: row;
    padding: 3vw;
    column-gap: 5vw;
    color: var(--gray4);
}

#guide {
    padding: 10vw;
    padding-top: 3vw;
}

#contact {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2vw;
    align-items: flex-start;
    justify-content: flex-start;
}

#contact-article {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 350px;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

#contact-form, #rent-form {
    width: 40vw;
    max-width: 500px;
    min-height: -moz-fit-content;
    min-height: -webkit-fill-available;
    height: fit-content;
    margin-top: .5vw;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

#contact-ul {
    padding: 0;
    margin: 0;
}

#contact-label {
    padding: 0;
}

.contact-input {
    width: inherit;
    max-width: 90%;
    padding-block: clamp(5px, 1vw, 10px);
    border: none;
    border-radius: 15px;
    padding-left: clamp(10px, 2vw, 30px);
}



#nachricht {
    width: inherit;
    max-width: 95%;
    padding-top: clamp(5px, 1vw, 20px);
    font-size: clamp(5px, 2vmin, 15px);
    height: 10vw;
    border: none;
    border-radius: 15px;
}

#contact-btn, #rent-btn {
    cursor: pointer;
    border-radius: 50px;
    font-size: clamp(5px, 1.7vw, 23px);
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    width: 50%;
    max-width: 200px;
    height: clamp(10px,3.5vw,50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(10px, 2vw, 30px);
}

#contact-btn .detail-value , #rent-btn .detail-value {
    color: var(--50);
}

#rent-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
}

#rent-main {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

.rent-dates {
    column-count: 2;
    width: 95%;
    padding-bottom: 1vw;
}

.rent-agree {
    display: flex;
    flex-direction: column;
}

.rent-agree p {
    display: flex;
    flex-direction: row;
}

.rent_advertising{
    width: 100%;
    border-radius: 15px;
}

#rent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
}

.faq-h3 {
    margin-top: 0;
}

#about-us-main {
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
    width: 90%;
}

.about-us-section {
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
    width: 100%;
    align-items: center;
}

.about-us-img {
    width: 30vw;
    border-radius: 15px;
}

@media (min-width: 1200px) {
    .App-title {
        font-size: clamp(50px, 4vmax, 90px);
        top: clamp(80px, 5vmax, 100px);
    }

    .App-title-special-word {
        font-size: clamp(90px, 6vw, 120px);
    }

    #start-btn {
        padding-inline: clamp(20px, 1vw, 60px);
        padding-block: clamp(20px, 2vh, 30px);
        font-size: 2vmin;
        margin-left:30px;
        bottom: clamp(0px, 2vmax, 30px);
    }

    .car-bg-txt {
        font-size: clamp(300px, 20vw, 400px);
        bottom: 10px;
        left: clamp(100px, 10vw, 290px);
        padding-top: 0;
    }

    .car-logo {
        width: clamp(530px, 40vw, 800px);
        right: clamp(350px , 10vw, 500px);
        top: clamp(100px, 8vw, 140px);
    }
    
    .inventory-thumbnail {
        margin-top: 1vw;
    }

    #inventory-btn {
        margin-top: 2vw;
        margin-left: 4vw;
        max-width: 65%;
    }

    #special-card {
        width: 60vw;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .App-title {
        font-size: clamp(30px, 5vw, 50px);
    }

    .App-title-special-word {
        font-size: clamp(40px, 6vw, 70px);
    }

    #start-btn {
        padding: 15px 32px;
        font-size: 1.5vmin;
        margin-left:20px;
        bottom: 19px;
    }

    .car-bg-txt {
        font-size: clamp(200px, 25vw, 250px);
        bottom: 50px;
        left: 100px;
        padding-top: 60px;
    }

    .car-logo {
        width: 45vw;
        right: clamp(280px , 4vw, 300px);
    }
}

@media (max-width: 900px) {
    .App-header {
        height: clamp(50px, 25vw, 300px);
    }

    .App-title {
        font-size: clamp(20px, 5vw, 40px);
        left: clamp(125px, 25vmin, 230px);
    }

    .App-title-special-word {
        font-size: clamp(20px, 6vw, 50px);
    }

    #start-btn {
        padding-inline: clamp(10px, 2vw, 20px);
        padding-block: clamp(5px, 1vw, 10px);
        font-size: clamp(11px, 2vw, 17px);
        margin-left: 10px;
        bottom: clamp(0px, 1vw, 7px);
    }

    .car-bg-txt {
        font-size: clamp(100px, 20vw, 180px);
        bottom: 3vmin;
        left: clamp(40px, 5vmin, 100px);
        padding-top: 100px;
    }

    .car-logo {
        width: 40vw;
        right: 110px;
    }

    #search-form {
        padding-inline: clamp(10px, 2vmin, 20px);
        padding-block: clamp(10px, 2vmin, 10px);
        margin-top: clamp(80px, 2vmin, 40px);;
    }

    label {
        background-size: clamp(5px, 3vmin, 15px);
        font-size: clamp(5px, 2vmin, 12px);
        padding-inline: 1vw;
    }

    .input {
        font-size: clamp(7px, 2vmin, 15px);
        padding-inline: 2vw;
    }

    #search-btn {
        background-size: 3vmin;
        width: clamp(8px, 6vmin, 60px);
        height: clamp(8px, 6vmin, 60px);
        margin-left: clamp(20px, 2vmin, 40px);;
    }

    #special-btn {
        margin-top: 1vw;
    }
}